<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/compose.css" />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand web-logo">MODI</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="blog"><a href="/blog">BLOG</a></li>
          <li id="project"><a href="/projects">PROJECTS</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
          <li id="compose-btn"><a href="/compose">WRITE</a></li>
        </ul>
      </div>
    </nav>
    <div class="publisher-container">
      <h1>Compose</h1>
      <form class="" action="/compose" method="post">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="text" name="postTitle" />
          <label>Post</label>
          <textarea
            class="form-control"
            name="postBody"
            rows="5"
            cols="30"
          ></textarea>
        </div>
        <button class="btn-publish" type="submit" name="button">Publish</button>
      </form>
    </div>

    <footer class="footer">
      <p>Made by Sudip Modi</p>
    </footer>
  </body>
</html>
