html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* navbar */

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 13px;
  letter-spacing: 5px;
}

.navbar-brand {
  font-size: 28px;
  color: #171717 !important;
}

#compose-btn {
  background-color: #171717;
  border-radius: 10px;
}

#compose-btn:hover {
  background-color: #444444;
  border-radius: 10px;
}

#compose-btn > a {
  border-radius: 10px;
  color: #fff;
  box-shadow: 3px 3px 3px #171717;
}

#compose-btn > a:hover {
  color: #fff;
}

/* compose page styles */

.publisher-container {
  width: 80%;
  text-align: center;
  vertical-align: center;
  margin: 10px auto;
}

.btn-publish {
  background-color: #171717;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 3px 3px 3px #171717;
}

/* footer styles */
.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: block;
  padding-top: 20px;
  background-color: #171717;
}

.footer p {
  font-size: 20px;
  color: #fff;
}
